*.pyc
ytdlasst/data/resp/yt/v/*.json
ytdlasst/doc/log.txt
ytdlasst/doc/confidentials.json
ytdlasst/doc/extreme-lodge-??????-????????????.json
linkslct/confidentials.json
linkslct/log.txt
linkslct/dl.txt
